<div class= "title" style="padding: 20px">
<h2>Welcome To Your Gallery</h2>

<div class= "links">
<%=link_to 'Create Your Albums', new_album_path %>
<p>
<%=link_to 'View Your Albums', albums_path %>
</p>
</div>
</div>