<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content contacts-list">
      <ion-item *ngFor="let message of messages" class="messages" (click)="itemSelected(message)" text-wrap>
        <h3>{{message.subject ? message.subject : message.campaign_name ? message.campaign_name : ""}}</h3>
        <p> {{message.name}}
            <span [hidden]="!message.company">, {{message.company}} </span>
        </p>
        <p [hidden]="!message.date"><ion-icon name="calendar"></ion-icon>
            {{message.date}}</p>
        <ion-icon name="eye" item-right></ion-icon>
      </ion-item>
    <div *ngIf="hideElement">
    <ion-card>
        <ion-card-header>
            <h1>No Data</h1>
        </ion-card-header>
    </ion-card>
    </div>
</ion-content>
